@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bricolage Grotesque', sans-serif;
}

body,
html {
	height: 100dvh;
	width: 100dvw;
	background: #0e1a26;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	width: 100%;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	padding: 10px;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page {
	background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-page {
	width: 100%;
	height: 100%;
}

.pagination-container {
	margin-top: 12px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.text-white {
	color: white;
}

.go-to {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
}
/* flex flex-wrap items-center justify-center gap-8 mt-4 */
